* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.button {
  width: 60px;
  height: 30px;
  border: 1px solid rgb(189, 176, 176);
  border-radius: 10px;
  background-color: #659e79;
  font-weight: 700;
  font-size: 14px;
}
.button:hover:not(:disabled),
.button:focus:not(:disabled) {
  cursor: pointer;
  border: 2px solid black;
  color: black;
}
